<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/clubStyle.css" type = "text/css">
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = [['Time', 'Trophies'], ['Start', parseInt(`<%= club.start %>`, 10)]];
            let x = `<%- club.stats %>`.split(',');
            for (let i = 0; i < x.length; ++i){
                if (parseInt(x[i], 10) < 0){
                    break;
                }
                dataTable.push([statValues[i], parseInt(x[i], 10)]);
            }

            var data = google.visualization.arrayToDataTable(dataTable);

            var options = {
                title: `Total Club Gains: <%= club.trophies - club.start %>`,
                curveType: 'function',
                legend: { position: 'none' }
            };

            var chart = new google.visualization.LineChart(document.getElementById("club-gains-chart"));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/displayClub.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>