<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/clubStyle.css" type = "text/css">
    <script>
        window.onload = function(){
            var ctx = document.getElementById('club-gains-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Start", ...statValues],
                    datasets: [{
                        label: 'Trophies',
                        data: [`<%-club.start %>`, ...`<%- club.stats %>`.split(",")],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0.7)',
                        ],
                        borderColor: [
                            '#fff',
                        ],
                        color: '#fff',
                        borderWidth: 1,
                        fill: {
                            target: 'origin',
                            above: 'rgba(44, 39, 44, 0.5)'
                        }
                    }]
                },
                options: {
                    scales: {
                        y: {
                            ticks: {
                                color: '#fff',
                                stepSize: 20000
                            },
                        },
                        x: {
                            ticks: {
                                color: '#fff'
                            },
                        }
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            text: `Trophies:  <%= club.trophies %> │ Net Gains: <%= club.trophies - club.start %>`,
                            display: true,
                            color: "#fff",
                            font: {
                                size: 14
                            },
                            padding: 10
                        },
                    },
                }
            });
        }
    </script>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/displayClub.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>