<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/clubStyle.css" type = "text/css">
    <script defer>
        window.onload = function(){
            var ctx = document.getElementById('club-gains-chart').getContext('2d');
            var clubData = [`<%-club.start %>`];
            var originalStats = `<%- club.stats %>`.split(",");
            for (let i = 0; i < originalStats.length; ++i){
                if (originalStats[i] == "-1"){
                    break;
                }
                clubData.push(originalStats[i]);
            }
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Start", ...statValues],
                    datasets: [{
                        label: 'Trophies',
                        data: clubData,
                        backgroundColor: [
                            'rgba(255, 255, 255, 0.7)',
                        ],
                        borderColor: [
                            '#fff',
                        ],
                        color: '#fff',
                        borderWidth: 1,
                        fill: {
                            target: 'origin',
                            above: 'rgba(44, 39, 44, 0.5)'
                        }
                    }]
                },
                options: {
                    scales: {
                        y: {
                            ticks: {
                                color: '#fff',
                                stepSize: 20000,
                            },
                        },
                        x: {
                            ticks: {
                                color: '#fff'
                            },
                        }
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            text: `Trophies:  <%= club.trophies %> │ Net Gains: <%= club.trophies - club.start %>`,
                            display: true,
                            color: "#fff",
                            font: {
                                size: 14
                            },
                            padding: 10
                        },
                    },
                }
            });
        }

        function changeClub(){
            let tag = document.getElementById("club-selector-tag").value;
            window.location.replace(`https://brawltrack.com/org/${window.location.pathname.split('/')[2]}/` + tag);
        }
    </script>
</head>
<body>
    <%- orgNav(org, clubs, club); %>
    <%- include('../partials/displayClub.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>